@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resultado</title>
</head>
<body>
    <div>
        <h1 style="color:#000000">FELICITACIONES!</h1>
        <h1>PUEDE RETIRAR SU DINERO</h1>
        <img src="~/imagen/pngtree-simply-like-a-smiley-face-illustration-image_1245615.jpg" width="360" height="350">
        <h3 style="color:#808080">Vuelva Pronto</h3>
    </div>
</body>
</html>

